PORT=4000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.nzpbsbo.mongodb.net/villageconnect?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change-this-to-a-long-random-string
STATIC_OTP=1234
CORS_ORIGIN=*
